@font-face {
  font-family: 'rublregular';
	src: url('/assets/fonts/rouble/rouble.eot');
  src: url('/assets/fonts/rouble/rouble-webfont.woff2') format('woff2'),
       url('/assets/fonts/rouble/rouble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hide{
  display: none;
}
.cost_home{
	display: none;
}

.filter__region{
  margin-right: 20px;
}

.page-va-list .metro_no_top .metro{
  margin-top: 0;
}

.home-description{
  font-size: 16px;
  line-height: 1.5;
}
.house_disclaimer{
  margin-right: 20px;
  font-weight: bold;
}
.house_disclaimer img{
  margin-right: 10px;
}
.disclaimer__badge{
  background-color: rgba(251, 179, 88, 0.15);
  color: #FBB358;
}

.bank-widget__text a{
  cursor: pointer;
}

.svg_image{
  margin-right: 10px;
  margin-top: -2px;
}

.action_text{
  cursor: pointer;
  text-decoration: underline !important;
}

.seo-text{
  padding-bottom: 20px;
}
.seo-text ul{
  list-style: none;
  padding-left: 20px;
  font-size: 16px;
}

.text-uppercase.chart, .highway-block__title.chart{
  font-size: 1.25rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.page-va-list .area-in-village.offers__index{
  padding-top: 0;
}

#block_url_houses, #block_url_plots{
  display: none;
}

/* цвета шоссе */
.highway-color .one{
	background-color: #EF161E !important;
}
.highway-color .two{
	background-color: #2DBE2C !important;
}
.highway-color .three{
	background-color: #0078BE !important;
}
.highway-color .four{
	background-color: #00BFFF !important;
}
.highway-color .five{
	background-color: #8D5B2D !important;
}
.highway-color .six{
	background-color: #ED9121 !important;
}
.highway-color .seven{
	background-color: #800080 !important;
}
.highway-color .eight{
	background-color: #FFD702 !important;
}
.highway-color .nine{
	background-color: #999999 !important;
}
.highway-color .ten{
	background-color: #99CC00 !important;
}
.highway-color .eleven{
	background-color: #82C0C0 !important;
}
.highway-color .twelve{
	background-color: #A1B3D4 !important;
}

.arrangement__item svg{
  max-width: 25px;
  max-height: 25px;
}

/* окошко выбора районов в фильтре */
#regionModal .highway-block__title{
  font-size: 16px;
  position: absolute;
  top: 22px;
  left: -15px;
}
@media (max-width: 768px) {
  #regionModal .highway-block__title{
    top: -7px;
    left: 20px;
  }
  .page-va-list .metro-other{
    margin-left: 0;
  }
}

.highway-block__title{
  cursor: pointer;
}

.modal button.btn.btn-warning {
	min-width: 200px;
}

.btn-warning:focus:hover, .btn-warning:hover:hover, .btn-warning:not(:disabled):not(.disabled):active:hover, .btn-outline-secondary {
	outline: none !important;
	box-shadow: none !important;
}
.photo__list {
	overflow-y: hidden;
	height: 235px;
}

.block-page__offer {
	display: flex;
	justify-content: space-around;
}

.village-slider__item {
	background-size: cover !important;
	background-position: center;
	transition: 0s ease-in !important;
}

@media (min-width: 1397px) {
	.plan--village {
		padding: 40px 40px;
	}
}

.ecology h2 {
	margin-top: 40px;
}

.map-container-page {
	overflow: hidden;
}

.review-card__text p a {
	word-break: break-word;
}

.list--grid .card-house__area a {
	z-index: 9;
}

.map-container-page {
	margin: 40px 0;
}

.footer-description ul li {
	font-size: 16px;
	line-height: 1.5;
}

.card-comparison .card-info__title a {
	font-size: 18px;
	font-weight: 700;
	margin: 15px 0;
	text-decoration: none;
	color: #3c4b5a;
}

.card-house__title a {
	text-decoration: none;
	color: #3c4b5a;
}
@media (min-width: 991px) and (max-width: 1200px) {
	.list--grid .card-house .photo .card-photo__item {
		height: 354px;
		border-radius: 15px;
	}
}

@media (max-width: 990px) {
	.offer-house__info .offer-house__footer,
	.offer-house__info .offer-house__metro,
	.offer-house__price,
	.offer-house__info .offer-house__inline-info .card-house__inline,
	.list--grid .card-house__inline{
		flex-wrap: wrap;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline-value {
		 font-weight: 700;
		 margin-left: auto;
		 display: block;
		 width: 100%;
		 margin-top: 3px;
 	}
	.offer-house__info .offer-house__price .price {
		 display: block;
	}
	.card-info__price {
		width: 100%;
	}
	.card-info.card-info--village.radius a.btn.btn-warning.rounded-pill.w-100 {
		max-width: 340px !important;
		margin-left: auto;
		margin-right: auto;
	}
	.list--grid .card-house__inline-value {
		display: flex;
		width: 100%;
		padding-left: 9px;
		margin-top: 10px;
		align-items: baseline;
		align-self: center;
	}
	span.split-number {
		margin-left: 6px;
	}
}

.video__background-title {
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	position: absolute;
	left: 13px;
	top: 27px;
}

@media (min-width: 1201px) and (max-width: 1396px) {
	.container, .container-lg, .container-md, .container-sm {
		max-width: 100%;
	}
}

@media (min-width: 767px){
	.modal-xl, .modal-xxl .modal-content {
		overflow-y: auto;
		max-height: 100vh;
	}
}

.modal {
	overflow-y: auto;
}

.phone-cart__block {
	display: inline-block;
	position: relative;
	font-size: 27px;
	font-weight: bolder;
  white-space: nowrap;
}

.phone-cart__block span {
	position: absolute;
	right: -10px;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 5px 5px 10px;
	top: -10px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.989233193277311) 6%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.989233193277311) 6%, rgba(255,255,255,1) 100%);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.989233193277311) 6%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.phone-cart__block span:hover,
.phone-cart__block span:focus {
	color: #78a86d;
}

.extra-options-block--circle .text span.description {
	font-size: 14px;
}

.map-filter--areas .custom-checkbox {
	padding-left: 36px;
}
.map-filter--areas .custom-control-inline,
.map-filter--highway .custom-control-inline {
	width: 100%;
}
.modal-dialog.modal-xl.modal-house {
	 overflow-x: hidden;
}
.offer-house__info .offer-house__price .price {
	font-weight: 600;
}
@media (max-width: 767px) {
	.page-map__container .photo__list {
		height: 160px;
	}
}

@media (min-width: 769px) {
	.offer-house__info .offer-house__price .rub {
		margin-right: 10px;
	}
}

.offer-house__item:hover .card-footer-new a {
	background-color: #fbb358;
	color: #fff;
}

.offer-house__info .offer-house__title {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	padding: 0 10px;
	min-height: 40px;
}
.offer-house__info .offer-house__title a{
  color: #3c4b5a;
}
.metro-name, .metro-other,
.offer-house__info .offer-house__price {
	font-size: 14px;
}

.offer-house__info .offer-house__inline-info .card-house__inline{
	align-items: center;
	font-size: 15px;
}

.price--village .bg-white.radius.price.price--village {
	margin-top: 0;
}

.rubl,
.rub,
.rep_rubl {
	font-family: rublregular, Arial, Tahoma, sans-serif !important;
}


.page-map__container {
	position: relative;
}
.page-map__wrap .card-map {
	bottom: auto;
	top: 30px;
}

.page-map__wrap .slick-list {
	border-radius: 15px 15px 0 0;
}

.page-map .show-filter {
	top: 50px;
}

@media (max-width: 769px) {
	.offer-house__info .offer-house__inline-info .card-house__inline-title {
		width: auto;
		font-size: 16px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline{
		align-items: center;
		font-size: 16px;
	}
	.review a {
		font-size: 16px;
	}
	.page-map__wrap .card-map {
		bottom: auto;
		top: 14px;
	}

	.metro-name, .metro-other, .offer-house__info .offer-house__price {
		font-size: 18px;
	}

	.offer-house__info .offer-house__area,
	.offer-house__info .offer-house__title {
		font-size: 18px;
	}
	.offer-house__item .raiting, .offer-house__item .review {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.pagination .page-link {
		width: 35px;
		height: 35px;
		font-size: 13px;
	}

	.pagination .page-item {
		margin-right: 5px;
	}

	.list--grid .card-house__content,
	.offer-house__info {
		padding-top: 0;
	}
	.offer-house__info .offer-house__title,
	.list--grid .card-house__title {
		font-size: 16px;
		line-height: 28px;
		margin-top: 18px;
	}

	.offer-house__area,
	.card-house__area,
	.offer-house__info .offer-house__area,
	.offer-house__info .offer-house__area a {
		font-size: 14px;
		line-height: 26px;
	}
	.list--grid .card-house__metro,
	.offer-house__metro {
		display: flex;
	}
	.list--grid .card-house__review a {
		font-size: 14px;
		line-height: 14px;
	}

	.metro-name, .metro-other {
		font-size: 14px;
		line-height: 24px;
	}
	.offer-house__info .offer-house__area {
		margin: 0;
	}
	.offer-house__info .offer-house__title, .list--grid .card-house__title {
		margin-top: 15px;
	}
	.list--grid .card-house .photo .card-photo__item,
	.card-photo__list .slick-list {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.list--grid .card-house .photo__count {
		border-radius: 0;
	}
	.offer-house__info .offer-house__title {
		min-height: auto;
	}
	.review a {
		font-size: 14px;
		line-height: 14px;
		color: #919fa3;
		font-weight: 700;
		text-decoration: none;
		margin-top: 15px;
	}
	.offer-house__item {
		width: 100%;
		max-width:290px;
	}

	.list--grid .card-house__price-title .rub {
		margin-right: 5px;
	}

	.offer-house__info .offer-house__price {
		display: flex;
		font-size: 14px;
		font-weight: 400;
	}
	.card-house__price-title .rub,
	.offer-house__info .offer-house__price .rub {
		font-size: 18px;
		margin-top: -3px;
	}
	.card-house__price-number,
	.offer-house__info .offer-house__price .price {
		margin-left: 10px;
		font-weight: 400;
		font-size: 14px;
	}.list--grid .card-house__price {
		 align-items: baseline;
	 }
	span.split-number {
		font-size: 14px;
		font-weight: bold;
		margin-left: 5px;
	}
	.list--grid .card-house__review {
		margin-top: 0;
	}
	.list--grid .card-house__inline-value span {
    display: inline;
		margin-top: 0;
    margin-left: 1px;
		font-size: 15px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline {
		font-size: 14px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline-value {
		margin-top: 0;
		font-size: 13px;
	}
	.list--grid .card-house__inline-value {
		font-size: 13px;
	}

	.card-house__inline-value span.split-number {
		font-size: 15px;
	}
	.list--grid .card-house__inline-title {
		 min-width: 100px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline-value,
	.list--grid .card-house__inline-value {
	   width: auto;
		 margin-left: auto;
	 }
  .list--grid .card-house__inline-value span {
 		display: inline;
 	}
	.list--grid .card-house__inline svg {
		margin-right: 7px;
		width: 36px!important;
		margin-top: -2px;
		margin-left: -5px;
	}
	.list--grid .card-house__inline-value {
		margin-top: 0;
	}
	.list--grid .card-house__inline {
		display: flex;
		align-items: center;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline-title {
		font-size: 14px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline {
		margin-top: 15px;
	}
	.offer-house__info .offer-house__inline-info .card-house__inline {
		 margin-top: 12px;
	}
	.village-slider__list-thumb {
		z-index: -999;
	}
	.list--grid .card-house__metro, .offer-house__metro {
		flex-wrap: wrap;
	}
	a.metro:last-child {
		 padding-left: 18px;
	 }
	.list--grid .card-house__price-title,
	.offer-house__info .offer-house__price {
		color: #3c4b5a;
		font-size: 14px;
	}

  .area-in-village .footer-card__price{
    font-size: 14px;
  }

  .hide__mob{
    display: none;
  }
}
@media (max-height: 1160px) {
	.card-map .photo.offer-house__photo .photo__list,
	.card-map .offer-house__photo .photo__item{
		height: 150px;
	}
	.card-map .offer-house__photo .photo__count {
		 position: absolute;
		 right: 0;
		 top: 111px;
	 }
}

.hero #highwayModal label.custom-control-label{
  margin-top: 0;
  margin-bottom: 0;
  color: #3c4b5a;
}


.tags-dropdown[x-placement="top-start"] {
	top: -50px !important;
}

.hero__form .form-group-inline label {
	text-align: right;
	margin-right: 8px;
}

@media (max-width: 768px) {
	.hero__form .btn-highway {
		background-color: #fff;
		border-color: #e1e8ea;
		color: #495057;
	}
	.hero__form .btn-highway:hover,
	.hero__form .btn-highway:focus {
		background-color: #fbb358;
		border-color: #fbb358;
		color: #fff;
	}
}

.btn-outline-success-dropdown svg path {
	fill: #78a86d;
}
.btn-outline-success-dropdown:hover svg path,
.btn-outline-success-dropdown:focus svg path {
	fill: #fff;
}

.dropdown-menu {
	border-radius: 15px;
	border: none;
	box-shadow: 0 15px 30px 0 #ccc;
}

.dropdown-menu .dropdown-item {
	padding: 15px;
	color: #78a86d;
	font-weight: 600;
	font-size: 12px;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #78a86d;
	color: #fff;
}

.main-arr {
	margin-top: 200px !important;
}

@media (max-width: 991px) {
	.main-arr {
		margin-top: 160px !important;
	}
}

.feedback-form__title {
	padding: 50px 0 0px;
}

.feedback-form__title a {
	color: #3c4b5a;
	text-decoration: none;
	font-weight: 600;
}

.feedback-form__body {
	padding-top: 25px;
	padding-bottom: 50px;
}

.feedback-form__body .custom-control-label a {
	color: #3c4b5a;
	text-decoration: none;
	font-weight: 600;
}
.feedback-form__body .custom-control-label:after, .feedback-form__body .custom-control-label:before {
	top: 0;
}

.developer__title {
	display: flex;
}

.developer__title-line .phone-cart__block span {
	background: rgb(247, 250, 252);
	background: -moz-linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.989233193277311) 6%,rgb(247, 250, 252) 100%);
	background: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.989233193277311) 6%,rgb(247, 250, 252) 100%);
	background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.989233193277311) 6%,rgb(247, 250, 252) 100%);
}

@media (max-width: 767px) {
	.developer__title {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.developer__title h2 {
		margin-top: 20px !important;
	}
}

@media (max-width: 1199px) {
	.page-nav a {
		padding: 10px !important;
	}
}

.modal-open .modal {
	background: rgba(0, 0, 0, 0.5);
}

.modal-header h5 {
	font-family: Trojan;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.modal-header .close {
	margin-top: -60px;
}
p.mesOk {
	padding: 0 2rem 1rem;
	text-align: center;
}
.review-card__text {
	position: relative;
	word-break: break-word;
}

@media (max-width: 480px) {
	span.split-number {
		white-space: nowrap;
		margin-left: 0;
	}
}

.modal-body .custom-control-label:after, .modal-body .custom-control-label:before {
	top: 0;
}

.modal-body label a {
	color: #3c4b5a;
}

@media (max-width: 767px) {
	.village-slider .slick-arrow {
		margin-top: 180px !important;
	}
}
@media (max-width: 480px) {
	.village-slider .slick-arrow {
		margin-top: 80px !important;
	}
}

.feedback-form {
	position: relative;
}

.feedback-form--help {
	background-color: #fff;
	box-shadow: 0 15px 30px 0 rgba(156,167,178,.15);
}

.feedback-form__bg {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/img/site/image-form.png') no-repeat top right;
	background-size: auto 300px;
	opacity: .5;
}


@media (max-width: 991px) {
	.feedback-form__bg {
		background-position: bottom right;
	}
}

@media (max-width: 767px) {
	.feedback-form h2,
	.feedback-form p {
		text-align: center;
	}
	.feedback-form__bg {
		background-size: 320px auto;
		background-position: bottom center;
		bottom: 0px;
	}
}

.phone-cart__block a {
	color: #3c4b5a;
	text-decoration: none;
}

.tag-list__item a.active {
	color: #fff;
	background-color: #78a86d;
	border-color: #78a86d;
}
.tag-list__item a.active .text-secondary {
	color: #fff !important;
}

.feedback-form--help {
	overflow: hidden;
}

.feedback-form--help p.mesOk {
	text-align: left;
	padding: 0;
}

.a__bold{
  font-weight: 700;
  text-decoration: underline;
}

.useful-links {
	padding: 50px 0 88px;
}

.useful-links a {
	transition: 0.2s ease-in-out;
}

.useful-links .row>[class*='col-'] {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.useful-links__title {
	font-size: 36px;
	color: #3C4B5A;
	margin-bottom: 37px;
}

.useful-links__card {
	background-color: #fff;
	border-radius: 15px;
	padding: 40px 35px 46px 46px;
	margin-bottom: 32px;
	height: 100%;
}

.useful-links__card-title {
	font-size: 16px;
	color: #3C4B5A;
}

.useful-links__list {
	padding: 0;
	margin: 0;
}

.useful-links__item {
	list-style-type: none;
	margin-top: 18px;
}

.useful-links__link {
	font-family: Gotham, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #3C4B5A;
	text-decoration: underline;
	line-height: 1;
}

.useful-links__link:focus,
.useful-links__link:hover {
	color: #78a86d;
}

.useful-links__card-link {
	font-weight: bold;
	font-size: 20px;
	line-height: 33px;
	margin-bottom: 32px;
	padding: 0;
}

.useful-links__map:hover,
.useful-links__map:focus,
.useful-links__questions:hover,
.useful-links__questions:focus {
	box-shadow: 0 15px 30px rgb(156 167 178 / 20%);
	color: white;
	text-decoration: none;
}

.useful-links__map {
	display: block;
	background-color: #BBD8E0;
	background-image: url(/assets/img/content/useful-map.png);
	background-position: 6px bottom;
	padding: 42px 37px 45px 46px;
	height: 100%;
	border-radius: 15px;
	background-repeat: no-repeat;
	color: white;
	background-size: contain;
	text-decoration: underline;
}

.useful-links__questions {
	display: block;
	background: right bottom / contain url(/assets/img/content/useful-questions.png) #FBB358 no-repeat;
	padding: 45px 71px 45px 46px;
	height: 100%;
	border-radius: 15px;
	color: white;
	text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.useful-links {
		padding: 40px 0 70px;
	}

	.useful-links .col-sm-6 {
		padding-right: 10px;
		padding-left: 10px;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.useful-links [class*='col-']:nth-of-type(3) {
		order: 4;
	}

	.useful-links [class*='col-']:nth-of-type(4) {
		order: 3;
	}

	.useful-links [class*='col-']:nth-of-type(5) {
		order: 5;
	}

	.useful-links [class*='col-']:nth-of-type(6) {
		order: 6;
	}

	.useful-links__title {
		font-size: 24px;
		margin-bottom: 41px;
	}

	.useful-links__card {
		margin-bottom: 20px;
	}

	.useful-links__map {
		padding-left: 57px;
		background-position: center bottom;
	}

}

@media (max-width: 991.98px) {
	.useful-links {
		padding: 30px 0 60px;
	}

	.useful-links__card {
		padding: 36px 35px 50px 38px;
	}

	.useful-links__card-link {
		padding: 0;
	}

	.useful-links__questions {
		padding: 39px 40px 45px 39px;
		background-size: 91%;
	}

	.useful-links__map {
		padding: 37px 37px 45px 49px;
		background-size: 90%;
	}
}

@media (max-width: 767.98px) {
	.useful-links {
		padding: 10px 0 50px;
	}

	.useful-links__title {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.useful-links__card {
		margin-bottom: 10px;
		padding: 26px 35px 23px 30px;
	}

	.useful-links__card-title {
		font-size: 14px;
	}

	.useful-links__item {
		margin-top: 15px;
	}

	.useful-links__card-link {
		padding: 0;
	}

	.useful-links__card-link {
		font-size: 16px;
	}

	.useful-links__map {
		padding: 27px 37px 45px 31px;
		background-position: 17px bottom;
		background-size: 55%;
	}

	.useful-links__questions {
		padding: 29px 30px 45px 32px;
		line-height: 26.4px;
		background-size: 55%;
	}

	.useful-links__questions br {
		display: none;
	}

	.useful-links__card,
	.useful-links__card-link {
		min-height: 172px;
	}
}

@media (max-width: 576px) {
	.useful-links__questions {
		background-size: 75%;
	}

	.useful-links__map {
		padding: 29px 30px 45px 32px;
		line-height: 26.4px;
		background-size: 75%;
	}
}


@media (max-width: 479.98px) {
	.useful-links__item {
		margin-top: 14px;
	}

	.useful-links__link {
		font-size: 13px;
	}

	.useful-links__card {
		padding: 28px 15px 23px 15px;
	}

	.useful-links__card-link {
		padding: 0;
	}

	.useful-links__map {
		padding-left: 16px;
		background-position: -22px 8px;
		background-size: cover;
	}

	.useful-links__questions {
		padding: 28px 55px 45px 16px;
		background-size: 260px;
	}

	.useful-links__questions br {
		display: block;
	}
}

.lg-toolbar .lg-icon {
	border: none;
	background-color: transparent;
}

.feedback-sale-form {
	padding-top: 45px;
	padding-bottom: 60px;
}
.feedback-sale-form .feedback-form {
	background: #f7fafc url('/assets/img/site/feedback-sale.png') no-repeat 113% center;
	padding: 60px;
	border-radius: 15px;
}
.feedback-sale-form .feedback-form__body {
	padding: 15px 0;
}
.feedback-sale-form .custom-control-label {
	font-size: 13px;
	line-height: 25px;
}
.feedback-sale-form .btn-submit {
	width: 100%;
}

@media (max-width: 1199px) {
	.feedback-sale-form .feedback-form {
		background-position: 175% center;
		padding: 60px 120px;
	}
	.feedback-sale-form .btn-submit {
		width: 100%;
		max-width: 304px;
	}
	.feedback-sale-form .feedback-form h2 {
		margin-bottom: 20px;
	}
}

@media (max-width: 991px) {
	.feedback-sale-form .feedback-form {
		background-position: 190% center;
		padding: 60px 100px;
	}
	.feedback-sale-form .feedback-form h2 {
		font-size: 24px;
		line-height: 36px;
	}
}
@media (max-width: 767px) {
	.feedback-sale-form .feedback-form {
		background-position: center 175%;
		padding: 60px 10px 72px;
		background-size: auto 73%;
	}
	.feedback-sale-form .feedback-form h2 {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 15px;
	}
}
#modalFeedbackSale .custom-control-label {
	font-size: 13px;
	line-height: 22px;
}

#modalFeedbackSale .close {
	margin-top: 0;
	position: absolute;
	right: 20px;
	top: 0;
}
#modalFeedbackSale .modal-header h5 {
	padding: 0 40px;
}
@media (max-width: 767px) {
	#modalFeedbackSale .modal-header h5 {
		padding: 0 15px;
	}

  /* табы в сео блоке */
  .filter__tab .nav{
    justify-content: space-around;
  }
  .filter__tab .nav-link{
    width: 100px;
  }
  .filter__tab .nav-link.btn{
    font-size: 12px;
    padding: 10px;
  }
  .filter__tab .nav-link svg{
    margin-right: 5px;
  }
}

/* увеличение размера */
.header .navbar-top .nav-link{
  font-size: 15px;
}
.hero__count-title, .form-group-inline label{
  font-size: 14px;
}
.btn{
  font-size: 14px;
  padding: 20px;
}

.nav-village a{
  width: 150px;
}

.offer-house__info .offer-house__area, .offer-card__title{
  font-size: 15px;
}
.review a{
  font-size: 14px;
}
.metro-name, .metro-other, .offer-house__info .offer-house__price{
  font-size: 15px;
}

.useful-links__link, .about-home-portal__subtitle, .about-home-portal__text p{
  font-size: 15px;
}

.work-steps .step-cloud{
  font-size: 15px;
}

.article-card__footer{
  font-size: 14px;
}

.address__tab .metro-title__title, .footer--bottom .footer__nav a, .footer__social{
  font-size: 15px;
}

.tag-list__item a{
  font-size: 14px;
}

.list--grid .card-house__area a, .list--grid .card-house__price-title, .list--grid .card-house__price, .list--grid .card-house__inline, .list--grid .card-house__inline-value{
  font-size: 15px;
}

.area-link, .card-info, .map-baloon .text-block .title{
  font-size: 15px;
}
.map-baloon .button-block{
  font-size: 14px;
}

.ecology__card-text, .ecology__card-img-distance, .ecology__card-img-type, .price--village{
  font-size: 15px;
}

.review-add .privacy-policy-label .custom-control label{
  font-size: 13px;
}

.content__tag-line a{
  font-size: 14px;
}

.page__sort .selectric {
	border: none;
}

.selectric-select-bg-white span.label, .selectric .button, .selectric .label {
    line-height: initial;
}

@media (min-width: 991px) {
	.hero-wrap h1 {
		min-height: 100px;
	}
}
