.block_1 {
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 248px;
  background-image: url('/local/templates/kalipso/style/../images/block_1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.block_1:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-index {
  position: relative;
  z-index: 3;
}

.shape {
  z-index: 3;
}

.lastNameSpam{
  display: none;
}

/* второй план */

.index-plan .card__row{
  justify-content: center;
}

.info-count__row{
  margin-top: 50px;
}

.info-count-item{
  background: #fff;
  padding: 20px;
}

.card__picture img, .card__picture object, .card__picture image{
  max-width: 100%;
  height: 100%;
}
