.block_1 {
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 248px;
  background-image: url('/local/templates/kalipso/style/../images/block_1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.block_1:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-index {
  position: relative;
  z-index: 3;
}

.shape {
  z-index: 3;
}

.lastNameSpam {
  display: none;
}

/* второй план */
.index-plan .card__row {
  justify-content: center;
}

.info-count__row {
  margin-top: 50px;
}

.info-count-item {
  background: #fff;
  padding: 20px;
}

.card__picture img, .card__picture object, .card__picture image {
  max-width: 100%;
  height: 100%;
}

.card__plan_2 {
  margin-top: 60px;
}

/* лого текстом */
.logo-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}

.logo-text:hover {
  text-decoration: none;
}

.logo-text span {
  color: #73a942;
}

.footer__col-logo .logo-text {
  color: #000;
}

.nav__list{
  padding-left: 80px;
}

.infrastructure-item__icon.on_territory svg{
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .header__logo .logo-text {
    font-size: 16px;
  }
}
